include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include setuplib.py
recursive-include feincms_oembed/static *
recursive-include feincms_oembed/locale *
recursive-include feincms_oembed/templates *
